<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todas las solicitudes que no sean hacia microservices al index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
